<h1 class="title">お気に入り一覧</h1>
<% @favorites.each do |favorite| %>

  <div class="panel panel-default">
    <div class="panel-heading clearfix">
      <div>
        <label>Poster：</label>
        <%= favorite.user.name %>
      </div>
    </div>

    <div class="panel-body">
      <div>
      <%= image_tag favorite.picture.image.url %>
      </div>
      <div class="content">
      <%= favorite.picture.content %>
      </div>
    </div>
  </div>
  <% end %>

<nav aria-label="..." class="bottom-nav">
  <ul class="pager">
    <li class="previous"><%= link_to '← TOP', pictures_path %></li>
  </ul>
</nav>
