.all-wrap {
  width: 480px;
  margin: 0 auto;
}
.left-name {
  float: left;
  font-weight: bold;
}

.right-menu {
  float: right;
}


.right-menu a{
  padding-right: 5px;
}

.panel-default img {
  width: 100%;
}

.panel-default .content {
  margin: 10px 0;
  height: 100px;
}

.show-nav {
  width: 480px;
  margin: 0 auto;
}

.post_field {
  width: 480px;
  margin: 0 auto;
}

#picture_content {
  width: 450px;
  height: 100px;
}

.confirm_pic {
  width: 300px;
}

.footer-nav  {
  width: 480px;
  margin: 20px auto;
}
